body {
  margin: 0;
  height: 100vh;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.rounded-navbar {
  border-radius: 2em;
  /* padding: 0.5rem 1rem; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
}

.navbar-nav .nav-item {
  margin: 0 50px;
}

.nav-contact {
  font-size: 1em;
  margin: 0 0.5em;
}
.nav-contact i {
  font-size: 1.5em;
}
.nav-contact-number {
  margin-right: 2em;
}
.member-login i {
  font-size: 1.8em;
}

.member-login-display {
  display: none;
}

.member-login {
  width: 1.8em;
  height: 1.8em;
  border: solid 0.5em black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #313131;
}

.member-login:hover {
  background-color: #e7c873; /* Darker shade on hover */
  transform: scale(1.1);
}

.add-property-btn {
  color: #000000;
  border: solid 1px black;
  border-radius: 1em;
  padding: 0.3em 2em;
  margin: 0 2em;
}
.add-property-btn:hover {
  color: #000000;
  background-color: #e7c873;
  transform: scale(1.03);
}

.firstdiv h1 {
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 0;
  transform: translateY(1em);
}

.firstdiv h3 {
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0);
  margin: 0;
  transform: translateY(4em);
}

.search {
  width: 30%;
  margin: 2em auto;
  height: 3.5em;
  background-color: #ffffff;
  padding: 0.75em 1em;
  border-radius: 2em;
  transform: translateY(8em);
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #000000;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search-icon {
  height: 5em;
  width: 5em;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #e7c873;
  font-size: 0.6em;
  transform: translateY(-3.8em);
  transform: translateX(1em) translateY(-3.8em);
  position: relative;
  border-radius: 50%;
}

.search-icon:hover {
  transform: translateX(1em) translateY(-3.8em) scale(1.1); /* Combine scale with translate */
}
.bi-search {
  font-size: 2em; /* Icon size inside the button */
}

.container {
  padding-top: -4em; /* Adjust this to avoid content being hidden under the navbar */
}

.firstdiv {
  margin-top: 0;
  margin-bottom: 1em;
}

.seconddiv {
  background-color: #f2f3f3;
  margin: 1em 0;
}

.thirddiv {
  background-color: none;
  margin: 1em 0;
}

.fourthdiv {
  background-color: rgb(29, 29, 29);
}

.social-logos a {
  color: gray;
  font-size: 1.4em; /* Adjust to the desired size */
  line-height: 1; /* Prevents line-height issues */
}

.custom-border-bottom {
  width: 80%;
  margin: auto;
  border-bottom: 0.1em solid gray; /* Adjust thickness and color */
}

.subtitle h6 {
  color: gray;
}
.subtitle p {
  color: white;
}

.subtitle-1 {
  margin-right: 2em;
}

@media (max-width: 500px) {
  .firstdiv {
    z-index: 1;
  }
  .firstdiv h1 {
    font-size: 2em; /* Decrease font size for smaller screens */
    margin-bottom: -0.5em;
    z-index: 2;
  }
  .navbar {
    z-index: 3;
  }

  .firstdiv h3 {
    font-size: 1em; /* Adjust h3 font size */
  }

  .search {
    width: 85%;
    margin-top: 20px;
  }

  .search-input {
    width: 80%; /* Make the search bar take up most of the width */
    padding: 12px;
    font-size: 1em;
  }

  .search-icon {
    height: 5em;
    width: 5em;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #e7c873;
    font-size: 0.6em;
    transform: translateY(-3.8em);
    transform: translateX(1em) translateY(-3.8em);
    position: relative;
    border-radius: 50%;
  }

  .nav-contact-group {
    margin-left: 2.5em;
  }

  .member-login {
    width: 2em;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
  }
  .member-login:hover {
    background-color: #e7c873;
    transform: scale(1.1);
  }

  .member-login-display {
    display: inline;
    margin-left: 0.2em;
  }

  .add-property-btn {
    margin: 0.5em 0 0 3em;
  }
  #nav {
    margin: 0.8em 0;
  }

  .social-logos {
    font-size: 1em;
  }
}
