body {
  margin: 0;
  height: 100vh;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.rounded-navbar {
  border-radius: 2em;
  /* padding: 0.5rem 1rem; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
}

.navbar-nav .nav-item {
  margin: 0 50px;
}

.firstdiv h1 {
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin: 0;
  transform: translateY(1em);
}

.firstdiv h3 {
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0);
  margin: 0;
  transform: translateY(4em);
}

.search {
  width: 30%;
  margin: 2em auto;
  height: 3.5em;
  background-color: #ffffff;
  padding: 0.75em 1em;
  border-radius: 2em;
  transform: translateY(8em);
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #000000;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search-icon {
  height: 5em;
  width: 5em;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #e7c873;
  font-size: 0.6em;
  transform: translateY(-3.8em);
  transform: translateX(1em) translateY(-3.8em);
  position: relative;
  border-radius: 50%;
}

.bi-search {
  font-size: 2em; /* Icon size inside the button */
}

.container {
  padding-top: -4em; /* Adjust this to avoid content being hidden under the navbar */
}

.firstdiv {
  margin-top: 0;
  margin-bottom: 1em;
}

.seconddiv {
  background-color: #e7e7e7;
  margin: 1em 0;
}

.thirddiv {
  background-color: #c7c7c7;
  margin: 1em 0;
}

.fourthdiv {
  background-color: #90b1b1;
  margin: 1em 0;
}

@media (max-width: 500px) {
  .firstdiv {
    z-index: 1;
  }
  .firstdiv h1 {
    font-size: 2em; /* Decrease font size for smaller screens */
    margin-bottom: -0.5em;
    z-index: 2;
  }
  .navbar {
    z-index: 3;
  }

  .firstdiv h3 {
    font-size: 1em; /* Adjust h3 font size */
  }

  .search {
    width: 85%;
    margin-top: 20px;
  }

  .search-input {
    width: 80%; /* Make the search bar take up most of the width */
    padding: 12px;
    font-size: 1em;
  }

  .search-icon {
    height: 5em;
    width: 5em;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #e7c873;
    font-size: 0.6em;
    transform: translateY(-3.8em);
    transform: translateX(1em) translateY(-3.8em);
    position: relative;
    border-radius: 50%;
  }
}
