body {
  margin: 0;
  height: 100vh;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.rounded-navbar {
  border-radius: 2em;
  /* padding: 0.5rem 1rem; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
}

.navbar-nav .nav-item {
  margin: 0 50px;
}

/* @media (min-width: 992px) {
  .navbar-nav .nav-item {
    margin-right: 30px;
  }
} */

.container {
  padding-top: -4em; /* Adjust this to avoid content being hidden under the navbar */
}

.firstdiv {
  margin-top: 0;
  margin-bottom: 1em;
}

.seconddiv {
  background-color: #e7e7e7;
  margin: 1em 0;
}

.thirddiv {
  background-color: #c7c7c7;
  margin: 1em 0;
}

.fourthdiv {
  background-color: #90b1b1;
  margin: 1em 0;
}
